{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'twentyone/style.css' %}">
    <meta charset="utf-8">
    <meta name="description" content="Belma is dealer.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Twenty-one shark.</title>
</head>


<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'blog:index' %}">Belma.blog()</a></li>
            </ul>
        </nav>
    </header>

    <section>
            <h1>Twenty.one()</h1>
        <form action="">
        <button type="button">Play</button>
        </form>
    </section>
</body>
</html>
