/* Blog Style */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: EB Garamond;
    color: #dedede;
    margin: 0;
    padding: 0;
    font-size: 16px;
} 

a {
    color: #eeb9b9;
}

li {
    list-style-type: none;
    margin: 2px 0px;
}

.topbar {
    background: #000;
    top: 0px;
    padding: 2rem 0 2rem 2rem;
    border-bottom: 1px ridge #dedede;
}

.grid-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.toc {
    position:sticky;
    top: 6rem;
}

.title {
    margin: 2rem 2rem;
}

.blogindex {
    margin: 2rem;
    font-size: 24px;
}

.markdown {
    margin: 2rem;
    padding: 0;
}

.markdown pre {
    background: #100020;
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 1rem;
}
