/* Blog Style */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
	background: #132743; 
    font-family: Garamond;
    color: #dedede;
    margin: 0;
    padding: 0;
}

a {
    color: #ffb5b5;
}

.topbar {
    position: sticky;
	background: #132743; 
    top: 0px;
    width: 100%;
    padding: 2rem 0  2rem 2rem;
    border-bottom: 1px ridge #dedede;
}

.title {
    margin: 2rem 2rem;
}

.blogindex {
    width: 60%;
    margin: 2rem;
    white-space: prewrap;
}

.blog-body {
    margin: 2rem;
    padding: 0;
    width: 80%;
    white-space: pre-wrap;
}
