{% load static markdown_extras %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
    <meta charset="utf-8">
    <meta name="description" content="A really cool blog about communism and pancakes.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ post.title }}</title>
</head>

<body>
    <header class="topbar">
        <a href="{% url 'blog:index' %}">Belma's blog</a>
    </header>
    <main>
        <div class="grid-container">
        <article>
            <h1 class="title">{{ post.title }}</h1>
            <div class="markdown">{{ post.body | markdown | safe }}</div>
        </article>
        </div>
    </main>
</body>

