*, *:before, *:after {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #eee;
    height: 50px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

nav a:hover {
    color: #9b59b6;
}

body {
    font-size: 16px;
    color: black;
}

.content {
    margin: 0 auto;
    max-width: 768px;
}

.content h1, h2, h3, h4, h5, h6 {
    font-family: 'Questrial', sans-serif;
    color: #9b59b6;
}

.content p {
    font-family: 'Merriweather', sans-serif;
    color: black;
}

.latest-posts {
    margin: 0 0 10px 0;
}

.latest-posts a {
    color: black;
    font-weight: bold;
}

.latest-posts p {
    font-family: 'Questrial', sans-serif;
    color: #a9a9a9;
    margin: 0;
}

.latest-posts a:hover {
    color: #9b59b6;
}
