/* Defaults */
:root {
    /* Cattppuccin Frappe */
	--rosewater: #f2d5cf;
	--flamingo: #eebebe;
	--pink: #f4b8e4;
	--mauve: #ca9ee6;
	--red: #e78284;
	--maroon: #ea999c;
	--peach: #ef9f76;
	--yellow: #e5c890;
	--green: #a6d189;
	--teal: #81c8be;
	--sky: #99d1db;
	--sapphire: #85c1dc;
	--blue: #8caaee;
	--lavender: #babbf1;
	--text: #c6d0f5;
	--subtext1: #b5bfe2;
	--subtext0: #a5adce;
	--overlay2: #949cbb;
	--overlay1: #838ba7;
	--overlay0: #737994;
	--surface2: #626880;
	--surface1: #51576d;
	--surface0: #414559;
	--base: #303446;
	--mantle: #292c3c;
	--crust: #232634;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    background-color: var(--base);
    font-size: 16px;
}

body {
    margin: 0;
}


nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    /* font-size: normal; */
}

nav a {
    color: var(--text);
    font-size: large;
}

a {
    text-decoration: none;
    font-weight: bold;
    position: relative;
    /* display: inline-block; */
}

a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--pink);
    transition: width 0.3s ease-in-out;
    transform: translatex(-50%);
}

a:hover::after {
    width: 100%;
}

a:hover {
    color: var(--pink);
}

/* Markdown to HTML Styling */
.content {
    max-width: 768px;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    .content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 799px) {
    .content {
        margin: auto 2rem;
    }
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'questrial', sans-serif;
    color: var(--mauve);
}

.content p, .content ol, .content ul {
    font-family: 'merriweather', sans-serif;
    color: var(--text);
    line-height: 1.7;
}

.content pre {
    padding: 5px;
    background: var(--mantle);
    border: solid 2px var(--lavender);
    overflow-x: auto;
}

.content code {
    font-family: monospace;
    color: var(--yellow);
    word-wrap: break-word;
    font-weight: bold;
}

.content p code {
    font-family: monospace;
    color: var(--yellow);
    font-weight: bold;
}

.content code span {
    color: var(--overlay0);
}

.content table {
    border-collapse: collapse;
    margin: 1em 0 2em 0;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

.content thead tr {
    color: var(--lavender);
    background-color: var(--surface0);
    font-weight: bold;
}

.content thead th, tbody td {
    color: var(--text);
    padding: 20px;
}

.content tbody tr {
    border-bottom: 1px solid var(--surface2);
}

.content tbody tr:nth-of-type(even) {
    background-color: var(--mantle);
}

.content tbody tr:last-of-type {
    border-bottom: 2px solid var(--surface0);
}

.content code span {
    color: var(--overlay0);
}

.content a {
    color: var(--lavender);
    line-height: normal;
}

.content a:hover {
    color: var(--pink);
}

.latest-posts {
    margin: 0 0 10px 0;
}

.latest-posts p {
    font-family: 'Questrial', sans-serif;
    margin: 0;
}

.latest-posts a {
    color: var(--text);
}

.latest-posts a:hover {
    color: var(--pink);
}
