<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="OllyCode's website."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <link 
    rel="stylesheet" 
    href="https://fonts.googleapis.com/css2?family=Questrial&family=Merriweather"/>
    <title>{% block title %}OllyCodes{% endblock title %}</title>
</head>
<nav>
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/blog/latest.html">Blog</a>
    <a 
        href="https://github.com/ollycodes" 
        target="_blank" 
        rel="noopener noreferrer">
        GitHub
    </a>
</nav>

<body>
    <div class="content">
        {% block body %}
        {{ content|safe }}
        {% endblock body %}
    </div>
</body>
</html>
